.git
.env
.env.*
vendor
node_modules
tests
.phpunit.cache
storage/app/*
storage/framework/*
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite*
public/storage
public/js/filament
public/css/filament
public/fonts/filament
